<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de bord Admin</title>
    <!-- Mettre le CSS -->
</head>
<body>
    <header>
        <h1>Tableau de bord Admin</h1>
        <nav>
            <ul>
                <li><a href="/admin/edit-activity">Éditer une activité</a></li>
                <li><a href="/admin/users">Gérer les utilisateurs</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <h2>Statistiques</h2>
        <p>Nombre d'activités : 12</p>
        <p>Nombre d'utilisateurs : 150</p>
<!-- Style a ajouter-->
    </section>
</body>
</html>