<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BDD - Bureau du Développement Durable</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('index') }}">Accueil</a>
            <a href="{{ url_for('about') }}">Qui sommes-nous ?</a>
            <a href="{{ url_for('contact') }}">Contact</a>
            <a href="{{ url_for('activities') }}">Actualités</a>
            <a href="{{ url_for('logout') }}">Déconnexion</a>
            <a href="{{ url_for('login') }}">Connexion</a>
            <a href="{{ url_for('signup') }}">Inscription</a>
        </nav>
    </header>
    <main>
    </main>
</body>
</html>